/* Custom CSS for reveal slides template by Julian Perez */
/*Import Iosevka font*/
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	/* src: url('ttf/iosevka-regular.ttf') format('truetype'), url('woff2/iosevka-regular.woff2') format('woff2'); */
	src: url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: /* url('ttf/iosevka-oblique.ttf') format('truetype'), */ url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: /* url('ttf/iosevka-oblique.ttf') format('truetype'), */ url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-oblique.woff2') format('woff2');
}


@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: /* url('ttf/iosevka-bold.ttf') format('truetype'), */ url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-bold.woff2') format('woff2');
}


@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: /* url('ttf/iosevka-boldoblique.ttf') format('truetype'), */ url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: /* url('ttf/iosevka-boldoblique.ttf') format('truetype'), */ url('https://gitlab.com/JulianPrz/reveal-orgmode-slides-template/-/blob/main/assets/fonts/webfont-iosevka-11.3.0/woff2/iosevka-boldoblique.woff2') format('woff2');
}


.reveal ul,ol,p,pre {
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    font-size: 0.8em;
    }
.reveal ul{
    line-height: 1.5;
    display: block !important; /* Para que una lista nueva en la slide no quede en el centro */
    margin: unset; /* Extendemos un poco más la lista a los lados */
}

.reveal code.hljs{
    font-feature-settings: "calt" 0;
    font-family: "Iosevka Web", "Fira Sans", monospace;
    font-size: 0.7em;
    line-height:1.5;
}
.reveal code:not(.bash):not(.css):not(.processing):not(.arduino):not(.html):not(.js){
    font-feature-settings: "calt" 0;
    font-family: "Iosevka Web", "Fira Sans", monospace;
    color: HotPink;
}

.reveal a{
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    color: DodgerBlue;
}

.reveal a:hover{
    color: RoyalBlue;
}

.reveal b {
   /* color:#cdd7d7; */
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Iosevka Web", "Fira Sans", sans-serif;
  /* margin: 0 0 20px 0; */
  /* color: #eee8d5; */
  /* line-height: 0.9em; */
  /* letter-spacing: 0.02em; */
  /* text-transform: uppercase; */
  /* text-shadow: none; */
}

.reveal table{
    line-height: 1.2;
    font-size:0.7em;
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
}
#left {
	margin: 10px 0 15px 20px;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}

.figure p {
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    font-size: 0.6em;
}

.org-svg {
    width: 100%;
    height: 100%;
}

kbd {
  /* -moz-border-radius: 6px; */
  -webkit-border-radius: 6px;
  border: 4px solid;
  border-radius: 6px;
  display: inline-block;
  font-family: "Iosevka Web", "Fira Sans", monospace;
  font-feature-settings: "calt" 0;
  font-size: 80%;
  font-weight: normal;
  line-height: inherit;
  margin: 0 .1em;
  padding: .08em .4em;
  word-spacing: -4px;
}

/* CSS Copycode style */

.reveal pre, .codeblock {
  width: 100%; }

.codeblock {
  margin: 20px auto;
  position: relative;
  font-family: "Iosevka Web", "Fira Sans", sans-serif !important;
}

.codeblock > button {
  opacity: 0.5;
  z-index: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: orange;
  color: black;
  border: 0;
  margin: 0;
  padding: .2em .5em;
  font-family: "Iosevka Web", "Fira Sans", sans-serif !important;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  cursor: pointer; }

.codeblock > button:hover, pre > button:hover {
  opacity: 1; }

.codeblock > button[disabled] {
  opacity: 1;
  background: green;
  color: white;
  cursor: default; }

.codeblock > button:focus {
  outline: 0; }
